<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">About me.</h2>
                <p class="default-p">
                    Mi nombre es Cesar Augusto Tapia Sotomayor y soy estudiante de la <span style="color: rgb(255, 0, 0);">Universidad Peruana de Ciencias Aplicadas</span>.
                </p>
               
                <p class="default-p">
                    Soy un ingeniero de sistemas de Peru. Mi idioma nativo es el <span class="default-highlight">español</span>
                    , mi nivel de  <span class="default-highlight">ingles</span> es intermedio. 
                </p>
                <p class="default-p">Tengo formación con estudios en la <span style="color: rgb(255, 0, 0);">Universidad Peruana de Ciencias Aplicadas</span>, 
                    actualmente en el 7mo ciclo. 
                    Cuento con conocimientos en <span class="default-highlight">análisis y desarrollo de software, gestión de bases de datos, seguridad</span> y  
                    <span class="default-highlight">  tecnologías emergentes. </span>, 
                  
                    Capaz de desempeñar roles en desarrollo web, administración de sistemas, 
                    análisis de datos y gestión de proyectos tecnológicos.
                     Enfocado en la <span class="default-highlight">optimización de procesos</span> mediante soluciones tecnológicas <span class="default-highlight">innovadoras</span>.
                </p>
                <br>
                <p class="default-p" style="color: rgb(110, 160, 95);">
                    Metas a Futuro:
                </p>
                <p class="default-p">
                    - Convertirme en un <span class="default-highlight">profesional</span> altamente capacitado en tecnología y transformación digital.
                   
                </p>
                <p class="default-p">
                    - Especializarme en  <span class="default-highlight">desarrollo de software, análisis de datos, getion de servicios en TI, administración de base de datos, 
                        administracion de redes y comunicaciones de datos o ciberseguridad</span> , según la experiencia adquirida en el campo.
                </p>
                <p class="default-p">
                    - Contribuir al desarrollo de <span class="default-highlight">soluciones innovadoras</span>  que optimicen procesos dentro de las organizaciones.
                </p>
                <br>
                <p class="default-p" style="color: rgb(110, 160, 95);">
                    Aportaciones:
                </p>
                <p class="default-p">
                  - Apoyar en el desarrollo y mantenimiento de software, optimizando código y resolviendo problemas técnicos.
                </p>
                <p class="default-p">
                  - Aprender rápidamente de mi equipo y adaptarme a metodologías ágiles para mejorar la eficiencia en los proyectos.
                </p>                   
                <p class="default-p">
                  - Contribuir con nuevas ideas y enfoques tecnológicos para la solución de problemas.
                </p>
                <p class="default-p">
                   - Demostrar compromiso, responsabilidad y capacidad de trabajo en equipo para aportar valor desde el primer día.
                </p>
             
            </div>

            
            <div class="content">
                <div class="content-left">
                  
                    <button style="  box-shadow: 0 6px 65px rgba(255, 255, 255, 0.562);">
                        <a routerLink="/contact" class="a-blue">
                            > Contactame
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
