<footer class="footer bg-dark">
    <div class="container">
      <div class="footer-content">
        <p>&copy; <span id="currentYear"></span> {{currentYear }} | Ingenieria de sistemas de informacion, Cesar Tapia.</p>
        <div class="footer-icons">
          <a href="https://www.linkedin.com/in/cesar-tapia10/" target="_blank" class="a-blue">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/CesarTapia10" target="_blank" class="a-blue">
            <i class="fab fa-github"></i>
          </a>
          <a href="mailto:cesartapia365@gmail.com" class="a-blue">
            <i class="fas fa-envelope"></i>
          </a>
          <a href="https://x.com/cesar43067275" target="_blank" class="a-blue">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>