<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div>
        <h1 class="home-title">Ingeniero de Sistemas de Información</h1>
        <h2 class="home-author">Cesar Tapia, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
           soy un estudiante del 8vo ciclo de la carrera de sistemas. 
           Apasionado por la tecnología y la innovación, Con una visión
            orientada al crecimiento profesional, para contribuir en proyectos que impulsen la transformación digital
            y la eficiencia tecnológica en las organizaciones.
        </blockquote>
        <button>
            <a routerLink="/portfolio"  class="a-blue">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  