<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">Educación.</h2>
                <p class="default-p">
                    Esta es mi formación académica: idiomas que hablo, 
                    educación universitaria, cursos técnicos y 
                    tecnologías con las que he trabajado.
                </p>
                <app-accordion></app-accordion>
        </div>
    </div>
</div>