<div class="accordion-left">

    <accordion [isAnimated]="true">
  
      <accordion-group 
      heading="Lengua." 
      [panelClass]="customClass"
      class="accordion-title">
      <div class="accordion-text">
        <p>Fluido: <strong><span class="default-highlight">Español</span></strong></p>
        <p>Intermedio: <strong><span class="default-highlight"> Ingles</span></strong></p>
      </div>
      </accordion-group>
  
      <accordion-group 
      heading="Universidad." 
      panelClass="customClass"
      class="accordion-title">
      <div class="accordion-text">
        <p>2022 - UPC - <strong><span class="default-highlight">Ingeniero de sistemasd de informacion</span></strong> - estudiante de setimo ciclo</p>
        <p> Cursos</p>
        <ul>
          <li>
            Fundamentos en Programación
          </li>
          <li>
            Programación Orientado a Objetos
          </li>
          <li>
            Diseño de Base de Datos
          </li>
          <li>
            IHC y Tecnologías Móviles
          </li>
          <li>
            Fundamentos de Sistemas de Información
          </li>
          <li>
            Arquitectura de Aplicaciones Web
          </li>
          <li>
            Arquitectura de Negocio
          </li>
          <li>
            Arquitectura de Computadoras y Sistemas Operativos
          </li>
          
        </ul>
        
      </div>    
    </accordion-group>
  
      <accordion-group 
      heading="Certificados."
      panelClass="customClass"
      class="accordion-title">
      <div class="accordion-text">
        <br>
        <p> ISC PYTHON: PROGRAMACIÓN Y ANÁLISIS DE DATOS- <strong><span class="default-highlight"><a  style="text-decoration: none;"  target="_blank" href="https://coursera.org/share/2e0b8850b9756258dd5efaf854335868"> Certificado Python for Everybody</a></span></strong> - Nomviembre/2023</p>
        <ul>
          <li>
            En este curso aprendi a como programar con el lenguaje de programacion de python, en el transcurso de este curso aprendi los siguientes 
            tecnologias: Json, Xml, Python Programmingm, Database (DBMS). Con las siguientes habilidades Using Python to Access Web Data,Programming for Everybody (Getting Started with Python),
            Using Databases with Python, Python Data Structures, Capstone: Retrieving, Processing, and Visualizing Data with Python
          </li>
        </ul>
        <br>
        <p>  ISC SOPORTE DE TI DE GOOGLE 1- <strong><span class="default-highlight"><a  style="text-decoration: none;"  target="_blank" href="https://coursera.org/share/1217f02d2589aa1743296af7e175067b"> Certificado Aspectos básicos de la asistencia técnica</a></span></strong> - Abril/2023</p>
        <ul>
          <li>
            En este curso aprendi a como emplear soluciones en el mundo laboral relacionado a como se debe de hacer un buen Soporte al cliente a traves de la 
            Solución de problemas, tambien aprendi a como utilizar Linux y la habilidad de aprender sobre Código binario
          </li>
        </ul>
        <br>

        <p>  ISC SOPORTE DE TI DE GOOGLE 1- <strong><span class="default-highlight"><a  style="text-decoration: none;"  target="_blank" href="https://coursera.org/share/d014c9fc198b2f1c6123ea7294a25463"> Certificado Los bits y bytes de las redes informáticas</a></span></strong> - Mayo/2023</p>
        <ul>
          <li>
            En este curso aprendi sobre todo como se emplea las redes informaticas en el mundo real ya sea a traves de los routers, servidores o switches, 
            sobre todo lo que es relacionado al Modelo de red, Solución de problemas, 
            Sistema de nombres de dominio , Ipv4 y un poco sobre Ipv6.
          </li>
        </ul>
        <br>

        <p>  ISC SOPORTE DE TI DE GOOGLE 1- <strong><span class="default-highlight"><a  style="text-decoration: none;"  target="_blank" href="https://coursera.org/share/974a9e2993044624246846ef8bde9252"> Certificado Sistemas operativos y tú: Convertirse en un usuario avanzado</a></span></strong> - Junio/2023</p>
        <ul>
          <li>
            En este curso reforce lo aprendido en los dos cursos anteriores aprendiendo nuevas habilidades en el transcurso del tiempo sobre Powershell,
            Linux,   Interfaz de comandos,  Sistemas de archivos de Linux
          </li>
        </ul>
        <br>

        <p>   ISC MATLAB BÁSICO- <strong><span class="default-highlight"><a  style="text-decoration: none;"  target="_blank" href="https://coursera.org/share/f5a2cdd99fe09a0947df3e92036a4110"> Certificado Introduction to Programming with MATLAB</a></span></strong> - Junio/2023</p>
        <ul>
          <li>
            En este curso aprendi sobre los fundamentales de programación informática como variables, estructuras de control, funciones, soporte que proporciona MATLAb para trabajar con matrices,
            tipos de datos y cómo manejarlos en MATLAB, aprendizaje sobre el input/output y sobre resolver problemas de programacion utilizando matlab.
          </li>
        </ul>
      </div>
      </accordion-group>
      
      <accordion-group 
      heading="Tecnologias que use."
      panelClass="customClass"
      class="accordion-title">
        <div class="tech-board">
           
            <div class="tech-cell">
                <i class="devicon-spring-original-wordmark"></i>
            </div>
           
            <div class="tech-cell">
                <i class="devicon-postgresql-plain-wordmark"></i>
            </div>
            <div class="tech-cell">
                <i class="devicon-azuresqldatabase-plain"></i>
            </div>
          
            <div class="tech-cell">
                <i class="devicon-angular-plain"></i>
            </div>
            <div class="tech-cell">
                <i class="devicon-typescript-plain"></i>
            </div>
            <div class="tech-cell">
                <i class="devicon-javascript-plain"></i>
            </div>
            <div class="tech-cell">
                <i class="devicon-html5-plain"></i>
            </div>
            <div class="tech-cell">
                <i class="devicon-css3-plain"></i>
            </div>
          
            <div class="tech-cell">
                <i class="devicon-python-plain"></i>
            </div>
            
            <div class="tech-cell">
                <i class="devicon-selenium-original"></i>
            </div>
            
            <div class="tech-cell">
                <i class="devicon-intellij-plain"></i>
            </div>
            <div class="tech-cell">
                <i class="devicon-vscode-plain"></i>
            </div>
           
            <div class="tech-cell">
                <i class="devicon-postman-plain"></i>
            </div>
            <div class="tech-cell">
                <i class="devicon-swagger-plain"></i>
            </div>
           
            <div class="tech-cell">
                <i class="devicon-npm-original-wordmark"></i>
            </div>
            
            <div class="tech-cell">
                <i class="devicon-git-plain-wordmark"></i>
            </div>
            <div class="tech-cell">
                <i class="devicon-github-original"></i>
            </div>
            <div class="tech-cell">
                <i class="devicon-matlab-plain"></i>
            </div>

            <div class="tech-cell">
              <i class="devicon-java-plain"></i>
          </div>

           
          
        </div>
      </accordion-group>
    
    </accordion>
    
  </div>